<div class="view">
	<div class="panel">
		<control-panel>
			<div class="panel__item">
				<label ng-repeat="key in Sandbox.keys.container" class="form__item">
					<span class="form__label-caption" ng-bind="key"></span>
					<select class="form__select" ng-model="Sandbox.containerStyles[key]" ng-options="preset for preset in Sandbox.presets.container[key]"></select>
				</label>
			</div>

			<div ng-if="(undefined !== Sandbox.selected_index)" class="panel__item">
				<label ng-repeat="key in Sandbox.keys.element" class="form__item">
					<span class="form__label-caption" ng-bind="key"></span>
					<select class="form__select"
					        ng-model="Sandbox.elements[Sandbox.selected_index].style[key]"
					        ng-options="preset for preset in Sandbox.presets.element[key]"></select>
				</label>

				<label class="form__item">
					<span class="form__label-caption" ng-bind="'flex-basis'"></span>
					<input ng-model="Sandbox.elements[Sandbox.selected_index].style['flex-basis']"
					       class="form__element form__input" type="text">
				</label>

				<label class="form__item">
					<textarea class="form__element form__textarea" ng-model="Sandbox.elements[Sandbox.selected_index].body"></textarea>
				</label>

				<div class="form__item">
					<button class="form__element form__button form__button--lorem"
					        ng-click="Sandbox.loremElementBody(Sandbox.selected_index)" type="button">lorem</button>

					<button class="form__element form__button form__button--delete"
					        ng-click="Sandbox.removeElement(Sandbox.selected_index)" type="button">Удалить элемент</button>
				</div>
			</div>

			<div class="form__item form__item--submit">
				<button class="form__element form__button form__button--append-first"
				        ng-click="Sandbox.appendElement()" type="button">Добавить элемент</button>

				<button ng-if="(Sandbox.elements.length)"
				        class="form__element form__button form__button--append-first"
				        ng-click="Sandbox.resetView()" type="button">Сбросить</button>
			</div>
		</control-panel>
	</div>

	<sandbox class="sandbox" ng-style="Sandbox.containerStyles">
		<block-section ng-if="(Sandbox.elements.length)"
		               ng-repeat="element in Sandbox.elements track by $index"
		               ng-style="element.style"
		               ng-click="Sandbox.toggleElementSelected($index)"
		               ng-class="{'element--selected': element.selected}"
		               class="element">
			<div class="element__counter" ng-bind="$index + 1"></div>
			<div class="element__header" ng-bind="element.content"></div>
			<div class="element__body" ng-bind="element.body"></div>
		</block-section>
	</sandbox>
</div>