<div class="view">
	<div class="panel">
		<control-panel>
			<div class="header">Control panel</div>

			<div class="panel__item">
				<label ng-repeat="(name, styles) in Sandbox.presets.container" class="form__item">
					<span class="form__label-caption" ng-bind="name"></span>
					<select ng-model="Sandbox.containerStyles[name]" ng-options="preset for preset in Sandbox.presets.container[name]"></select>
				</label>
			</div>

			<div ng-if="(undefined !== Sandbox.selected_index)" class="panel__item">
				{{ Sandbox.elements[Sandbox.selected_index] }}
			</div>

			<div ng-if="(Sandbox.elements.length)" class="form__item form__item--submit">
				<button ng-if="(Sandbox.numerals.length > Sandbox.elements.length)" class="form__element form__button form__button--append-first"
				        ng-click="Sandbox.appendElement()" type="button">Добавить элемент</button>

				<button class="form__element form__button form__button--append-first"
				        ng-click="Sandbox.resetView()" type="button">Сбросить</button>
			</div>
		</control-panel>
	</div>

	<sandbox class="sandbox" ng-style="Sandbox.containerStyles">
		<block-section ng-if="(Sandbox.elements.length)" ng-repeat="element in Sandbox.elements track by $index"
		         ng-style="element.style"
		         ng-click="Sandbox.toggleElementSelected($index)"
		         ng-class="{'element--selected': element.selected}"
		         class="element">{{ Sandbox.numerals[$index] }}</block-section>

		<button ng-if="(0 === Sandbox.elements.length)" class="form__element form__button form__button--append-first"
		        ng-click="Sandbox.appendElement()" type="button">Добавить элемент
		</button>
	</sandbox>
</div>